@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;800&display=swap');


@font-face {
  font-family: "Fira Sans Extra Bold";
  src: url("../static/fonts/FiraSans-ExtraBold.ttf") format("ttf");
  /* font-weight: 800; */
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url("../static/fonts/FiraSans-Medium.ttf") format("ttf");
}

html {
    font-family: 'Fira Sans';
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Fira Sans';
    }
}
